.login {

	display:none;
	
    /* Size and position */
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.75);
    width: 300px;
    margin: 60px;
    padding: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: white;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.login h1 {
    font-size: 22px;
    padding-bottom: 20px;
}

.login input[type=text],
.login input[type=password] {
    /* Size and position */
    width: 96%;
    padding: 5px;
    margin-bottom: 3px;

    /* Styles */
    border: 1px solid rgb(0, 0, 0); /* Fallback */
    border: 1px solid rgba(97, 97, 97, 0.7);
    background: rgba(153, 153, 153, 0.84);
    border-radius: 2px;
    inset 0 1px 1px transparent;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: black;
    font-size: 26px;
}

/* Placeholder style (from http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css) */

.login input::-webkit-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.login input:-moz-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.login input:-ms-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.login input[type=text]:hover,
.login input[type=password]:hover {
    border-color: #333;
}

.login input[type=text]:focus,
.login input[type=password]:focus,
.login input[type=submit]:focus {
	background:
rgba(221, 221, 221, 0.85);
    outline: none;
}

.login input[type=submit] {
    /* Size and position */
    width: 100px;
    padding: 10px;
    
    /* Styles */
    background: linear-gradient(rgb(237,120,106), rgb(255, 53, 53));
    background-size:1px 200px;  
	
    border-radius: 3px;
    border: 1px solid rgba(31, 31, 31, 0.37);
    box-shadow: inset 0 1px rgba(105, 105, 105, 0.58), 0 2px 1px rgba(0, 0, 0, 0.31);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.59);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.login input[type=submit]:hover {
background-position:100px; 
}

.logo{width:400px;position:fixed;bottom:0;right:0;}

.loading {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loading .loader {
background: url('../img/loading.gif') rgba(0, 0, 0, 0.8) no-repeat center;
height:48px;
width:48px;
padding: 15px 25px 15px 25px;
border-radius: 20px;
top: 50%;
left: 50%;
position:absolute;
}

@media only screen and (max-width: 48em) {
.login{width:85%; padding:20px; margin-left:auto;margin-right:auto;}
.logo{width:90%; padding:10px; margin:0;position:relative;top:0;left:0;}
}